/* 公共样式 */
.w {
  width: 1240px;
  margin: 0 auto;
}

/* 网页的头部 */
/* 1.1 网页的导航栏 */
.shortcut {
  height: 52px;
  background-color: #333;
}

.shortcut ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 52px;
}

.shortcut li a {
  color: #fff;
}

.shortcut li a:hover {
  color: #5EB69C;
}

.shortcut li:first-child a {
  color: #5EB69C;
}

.shortcut li i {
  font-size: 18px;
  margin-right: 5px;
}

.shortcut li.line {
  width: 1px;
  height: 12px;
  background-color: #666;
  margin: 0 15px;
}

/* 1.2 header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 132px;
}

.header .logo {
  width: 200px;
  height: 88px;
}

.header .logo h1 {
  width: 100%;
  height: 100%;
}

.header .logo h1 a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  background-image: url(../images/logo.png);
  overflow: hidden;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 132px;
  gap: 48px;
}

.nav li a {
  display: block;

  height: 40px;
  line-height: 40px;

}

.nav li a:hover {
  color: #5EB69C;
  border-bottom: 2px solid #5EB69C;
}

/* search */
.search input {
  width: 170px;
  height: 40px;
  border-bottom: 2px solid #F4F4F4;
  padding-left: 28px;
  font-size: 16px;
}
.search{
  position: relative;

}
.search i{
  position: absolute;
  top: 8px;
  left: 0x;
  font-size: 24px;
  color: #CCC;
}

/* 专门修改搜索框的placeholder */
.search input::placeholder {
  font-size: 16px;
  color: #CCC;
}

/* car */
.car i {
  font-size: 40px;
  margin-right: 10px;
}
.car{
  position: relative;
}
.car span{
  padding: 2px 5px ;
 color:#fff;
  position: absolute;
 left: 30px;
background-color: #E26237;
border-radius: 7.5px;

}

/*  网页的底部  */
.footer {
  height: 580px;
  background-color: #f5f5f5;
}

.slogn {
  height: 178px;
  border-bottom: 1px solid #e8e8e8;
}

.slogn ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 178px;
}

.slogn ul li {
  display: flex;
  align-items: center;
}

.slogn ul li p {
  font-size: 28px;
  margin-left: 20px;
}

.slogn ul li h5 {
  width: 58px;
  height: 58px;
  background: url(../images/sprite.png) no-repeat;
}

.slogn ul li .two {
  background-position: 0 -58px;
}

.slogn ul li .three {
  background-position: 0 -116px;
}

.slogn ul li .four {
  background-position: 0 -174px;
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 300.5px; */
  margin-top: 60px;
}

.service-left {
  display: flex;
  gap: 84px;

}

.service-left dl dt {
  font-size: 18px;
  color: #333;
  margin-bottom: 30px;
}

.service-left dl dd {
  margin-bottom: 10.5px;

}

.service-left dl dd a {
  font-size: 16px;
  color: #96969666;
}

.service-left dd a i {
  color: #00be9a;
}

.service-right ul {
  display: flex;
  text-align: center;

}

.service-right ul li {
  margin-left: 55px;
  color: #969696;
}

.service-right ul li p {
  margin-top: 10px;
}

.cpyright {
  text-align: center;
  margin-top: 100.5px;
  line-height: 30px;
  color: #1a1a1a;
}

.cpyright p a {
  color: #969696;
}

