/* 首页样式 */
.entry{
    height: 500px;
    background-color: #f5f5f5;
}
/* .entry .w{
    height: 100%;
    background: url(../uploads/banner1.png);
} */
/* 分类 */
.category{
width: 250px;
height: 500px;
background-color:rgb(0, 0, 0,.42)  ;
}
.category ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 12px 0 29px;
   color: #fff;
   
}
.category ul li:hover{
    background-color: #00BE9A;
}
.category ul li a{
    color: #fff;
    font-size: 14px;
}
.category ul li a:first-child{
    font-size: 16px;
    margin-right: 10px;
}
.banner{
    position: relative;
}
 .banner .circle {
    position: absolute;
    bottom: 10px;
    right:10px ;
}
.banner .circle li{
    width: 14px;
    height: 14px;
    background-color: rgba(255,244,255,.5);
    border-radius: 50%;
}
.banner .circle li:hover{
    box-shadow: 0 0 0 4px rgba(255,244,255,.5);
    background-color: #fff;
}
.circle {
    display: flex;
    gap: 12px;
}
.entry .w{
position: relative;
}
.category{
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 1;
}
/*  新鲜好物模块 */
.box-hd{
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-hd h2{
    font-size: 30px;
}
.box-hd h2 small{
    font-size: 16px;
    color: #A1A1A1;
    margin-left: 30px;
}
.box-hd a{
    font-size: 16px;
    color: #A1A1A1;
}
.frech .box-bd ul li{
width: 304px;
height: 404px;
text-align: center;
background-color: #EEF9F4;
}
.box-bd ul li a{
display: block;
height: 100%;
}
.box-bd ul{
    display: flex;
    justify-content: space-between;

}
.frech .box-bd ul li img{
    /* width: 304px;
    height: 304px; */
}
.box-bd ul li h3{
    font-size: 20px;
    color: #333333;
    margin-top: 17px;
}
.frech .box-bd ul li p{
    font-size: 22px;
    color: #AA2113;
    margin-top: 8.5px;
}
/* 人气推荐 */
.recommend .box-bd ul li{
    background-color: #fff;
    margin-bottom: 70px;
} 
/* 热门品牌 */
.hot .box-bd ul li{
  
    margin-bottom: 40px;
}
.hot .box-bd ul li img{
    height: 306px;
    width: 244px;
}
.hot{
    background-color: #f5f5f5;
    height: 468px;
    margin-bottom: 40px;
}
/* 服饰 */
/* .cloth{
    
   
} */
.cloth .box-hd{ 
    padding-top:10px ;
    height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cloth .box-hd .hd-right{
    display: flex;
}
.cloth .box-hd h2{
    font-size: 30px;
}
.cloth .box-hd .hd-right a{
font-size: 16px;
color: #A1A1A1;
}
.cloth .box-hd .hd-right ul{
    display: flex;
    gap: 20px;
    margin-right: 65px;
}
.cloth .box-hd .hd-right ul li a{
padding: 3px 8px;
    
}
.cloth .box-hd .hd-right ul li a:hover{
color: #fff;
background-color:#00BE9A ;

}
.cloth .box-bd{
    display: flex;
    justify-content: space-between;
}
.cloth .box-bd .bd-left{
    width: 248px;
    height: 610px;
}
.cloth .box-bd .bd-right{
    width: 968px;
    height: 610px;
    display: flex;
    flex-wrap: wrap;

}
.cloth .box-bd .bd-right li{
    width: 242px;
    height: 305px;
    padding: 10px 21px 0;
}
.cloth .bd-right  a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 19px;
}
.cloth .box-bd .bd-right li img{
    width: 200px;
    height: 180px;
}
.cloth .box-bd .bd-right li .titlt{
    margin-top: 10px;
    font-size: 16px;
}
.cloth    p{
    font-size: 16px;
    color: #333333;
}
.cloth .price{
    font-size: 22px;
    color: #AF2F22;
    margin-top: 7px;
}
.cloth_small{
    font-size: 16px;
}
/* 单行文本溢出时省略号 */
.ellipsis{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
/* 最新专题 */
.subject_bd{
    display: flex;
    justify-content: space-between;
    height: 355px;
    width: 405px;
    gap: 12px;
}

.sbody{
    height: 100%;
}
.subject_bd .top_a{
    width: 405px;
    height: 288px;
}
.


.sbbottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    padding: 0 15px;
     

}
.z{
    margin-right: 20px;
}
.bottom_a .iconfont{
 font-size: 14px;
    color: #666;
}