/* 首页样式 */
.entry{
    height: 500px;
    background-color: #f5f5f5;
}
.entry .w{
    height: 100%;
    background: url(../uploads/banner1.png);
}
/* 分类 */
.category{
width: 250px;
height: 500px;
background-color:rgb(0, 0, 0,.42)  ;
}
.category ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 12px 0 29px;
   color: #fff;
   
}
.category ul li:hover{
    background-color: #00BE9A;
}
.category ul li a{
    color: #fff;
    font-size: 14px;
}
.category ul li a:first-child{
    font-size: 16px;
    margin-right: 10px;
}

/*  新鲜好物模块 */
.box-hd{
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-hd h2{
    font-size: 30px;
}
.box-hd h2 small{
    font-size: 16px;
    color: #A1A1A1;
    margin-left: 30px;
}
.box-hd a{
    font-size: 16px;
    color: #A1A1A1;
}
.box-bd ul li{
width: 304px;
height: 404px;
text-align: center;
}
.box-bd ul{
    display: flex;
    justify-content: space-between;

}
.box-bd ul li img{
    width: 304px;
    height: 304px;
}
.box-bd ul li h3{
    font-size: 20px;
    color: #333333;
    margin-top: 17px;
}
.box-bd ul li p{
    font-size: 22px;
    color: #AA2113;
    margin-top: 8.5px;
}